*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body body{
    background: linear-gradient(to right, #e8cbc0, #636fa4);
}

.container{
    position: absolute;
}

.container h1{
    
}