@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

body {
    flex-direction: flex;
    flex-wrap: wrap;
    position: relative;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    justify-content: center;
    align-items: center;
    display: grid;
}

.botao {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 25px;
}

.titulo {
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.calculo {
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.imagem {
    padding: 0;
}