<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/viewstyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css?_cacheOverride=1598565457011" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Círculo</title>
</head>

<body>
    <header>
        <div class="titulo">
            <h1>Círculo</h1>
        </div>
    </header>
    <div class="imagem">
        <img src="/img/circulo.png" alt="Círculo" width="100%" height="100%">
    </div>
    <div class="calculo">
        <h2>Área = Pi * Raio²</h2>
    </div>
    <div class="botao">
        <a href="/index.html"><button>Voltar</button></a>
    </div>
</body>

</html>